html, body
  height: 100%
body
  background: $base-background-color
  padding: 0 1rem
#main_wrapper
  min-height: 100%
  padding: 2rem 0
  max-width: 68em
  margin-left: auto
  margin-right: auto

  .main-header
    margin-bottom: 3rem

#main_footer
  padding: 2rem 0
  text-align: center
