#home_index
  section
    header
      margin-bottom: 1em
  .filter-wrapper
    clearfix()
    margin-bottom: 2rem
    display: table
    width: 100%
    .overview-wrapper
      float: left
      display: table-cell
      width: 80%
    .form-wrapper
      float: left
      display: table-cell
      position: relative
      text-align: right
      width: 20%

      .reset
        position: absolute
        right: 0.5em
        top: 0.4em
      [type=search]
        transition: all linear 0.3s
        background: rgba(white, 0.5)
        display: inline-block
        padding: 0.5em
        color: $dark-gray
        border: 0px
        box-shadow: none
        border-radius: $base-border-radius
        width: 100%
        &:-webkit-input-placeholder
          color: $dark-gray
        &:-moz-placeholder
          color: $dark-gray
        &::-moz-placeholder
          color: $dark-gray
        &:-ms-input-placeholder
          color: $dark-gray
        &:focus
          background: white
          box-shadow: 0 0 0
          outline: none
          &:-webkit-input-placeholder
            color: $gray
          &:-moz-placeholder
            color: $gray
          &::-moz-placeholder
            color: $gray
          &:-ms-input-placeholder
            color: $gray
  .warning
    text-align: center
    padding: 6rem 0
    .fa-stack
      font-size: 3em
      margin-bottom: 2rem
    h4
      line-height: 2em
    .btn
      margin: 2rem
  .relative
    position: relative