#home_index
  section
    header
      margin-bottom: 1em
  .filter-wrapper
    clearfix()
    margin-bottom: 2rem
    display: flex
    width: 100%
    .overview-wrapper
      width: 65%
    .form-wrapper
      position: relative
      text-align: right
      width: 35%

      .reset
        position: absolute
        right: 0.5em
        top: 0.4em
        cursor: pointer
      [type=search]
        transition: all linear 0.3s
        background: rgba(white, 0.5)
        display: inline-block
        padding: 0.5em
        color: $dark-gray
        border: 0px
        box-shadow: none
        border-radius: $base-border-radius
        width: 100%
        &:-webkit-input-placeholder
          color: $dark-gray
        &:-moz-placeholder
          color: $dark-gray
        &::-moz-placeholder
          color: $dark-gray
        &:-ms-input-placeholder
          color: $dark-gray
        &:focus
          background: white
          box-shadow: 0 0 0
          outline: none
          &:-webkit-input-placeholder
            color: $gray
          &:-moz-placeholder
            color: $gray
          &::-moz-placeholder
            color: $gray
          &:-ms-input-placeholder
            color: $gray
  .relative
    position: relative

  .hidden
    display: none

  .btn
    color: $base-font-color
    border: 1px solid $base-font-color
    padding: .6em 2em
    display: inline-block
    border-radius: $base-border-radius
    text-transform: uppercase
    cursor: pointer

    &:hover
      background: $base-font-color
      color: $base-background-color
