$size = 1em

.pagination
  clearfix()
  margin-bottom: 2rem
  text-align: center
  li
    display: inline-block
    margin-left: .2em
    a
      transition: all 300ms linear
      background: $base-accent-color
      margin-left: $size / 2
      display: inline-block
      border-radius: 50%
      width: $size
      height: $size
      cursor: pointer

      &:hover
        background: shade($base-accent-color, 10)
      &.active
        background: $gray